@model MarcacaoViewModel

@{
    ViewData["Title"] = "Alterar Marcações";
}

<h2>@ViewData["Title"]</h2>

<h4>Reagendar</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Marcacao.IdMarcacao" />
            <div class="form-group">
                <label asp-for="Clientes" class="control-label"></label>

                @Html.DropDownListFor(m => m.Marcacao.IdCliente,
                                     new SelectList(Model.Clientes.Select(x => new { Value = x.IdCliente, Text = x.Nome }), "Value", "Text"),
                                               htmlAttributes: new { @class = "form-control" })
                <span asp-validation-for="Marcacao.Cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnumTipoServico" class="control-label"></label>
                @Html.DropDownListFor(model => model.EnumTipoServico, Html.GetEnumSelectList(typeof(EnumTipoServico)), new { @class = "form-control" })
                <span asp-validation-for="EnumTipoServico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Data da marcação</label>
                <input asp-for="Marcacao.DataMarcacao" class="form-control" />
                <span asp-validation-for="Marcacao.DataMarcacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="btn btn-success" type="submit" value="Reagendar" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>


